{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
